@media (max-width: 936px) {
  :root {
    --blyrics-padding: var(--m3-spacing-3);
    --blyrics-margin: var(--m3-spacing-3);
  }
}

@media (max-width: 615px) {
  :root {
    --blyrics-padding: var(--m3-spacing-2);
    --blyrics-margin: var(--m3-spacing-2);
    --blyrics-border-radius: var(--m3-shape-medium);
  }

  .blyrics--line {
    letter-spacing: -0.01em;
  }

  .blyrics-footer {
    border-radius: var(--m3-shape-medium);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --m3-motion-duration-short: 1ms;
    --m3-motion-duration-medium: 1ms;
    --m3-motion-duration-long: 1ms;

    --blyrics-wobble-duration: 1ms;
    --blyrics-lyric-scroll-duration: 1ms;
  }
}
